*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/icasa.obo
src/ontology/icasa.owl
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
*#*#
.DS_Store